body {
    text-align: center;
     margin = 0;
     position: absolute;
     top: 50%;
     left: 50%;
     padding: 50px;
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}
